/* Colors: 
 * The higher the number,
 * the lighter the color :)
*/
// --------
// Neutrals
$fff: #ffffff;

$brown-1: #733426;
$brown-2: #E0BFB8;

$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;

// ----
// Hues
// Blue
$blue-1: #0067AE; // Brand Secondary Color
$blue-2: #00ABDF; // Brand Primary Color
$blue-3: #44D3FF;

// Teal
$teal-1: #26A0AB;
$teal-2: #3BCAD7;
$teal-3: #3EEDF6;

// Red
$red-1: #BB0A0A;
$red-2: #F23035;
$red-3: #F05C61;

// Yellow
$yellow-1: #EE9109;
$yellow-2: #FFA624;
$yellow-3: #FFBE5D;

// Green
$green-1: #219653;
$green-2: #27AE60;
$green-3: #6FCF97;

// ---------------
// Calendar colors
$c-orange-1: #E68800;
$c-orange-2: #FFD699;

$c-teal-1: #00D3E6;
$c-teal-2: #99F6FF;

$c-blue-1: #0088E6;
$c-blue-2: #99D5FF;

$c-purple-1: #8600E6;
$c-purple-2: #D499FF;

$c-dblue-1: #0009E6;
$c-dblue-2: #999DFF;

$c-pink-1: #E600AC;
$c-pink-2: #FF99E6;

$c-red-1: #E60000;
$c-red-2: #FF9999;

$c-dgreen-1: #219653;
$c-dgreen-2: #ABEDC7;

$c-green-1: #12E600;
$c-green-2: #A1FF99;