@import "_variables";
@import "_mixins";

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: $fff;
}

#container{
    justify-content: space-between;
    display: flex;
    max-width: 100%;

    main {
        max-width: max-content;
        padding: 1em;
        border: 2px solid $gray-6;
        border-radius: 8px;
        justify-content: space-between;
    }

    #small {
        max-width: 20%;
        border-color: $c-orange-1;
    
        .fc-left h2{
            font-size: 17px;
        }
        .fc-right button {
            font-size: 13px;
        }

        .fc-widget-content{
            min-height: max-content;

            .fc-scroller {
                height: auto !important;
            }
        }
    }
    
    #big {
        max-width: 80%;
        border-color: $c-dgreen-1;
    }
}