@import "_variables";
@import "_mixins";

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: $fff;
}

#container{
    justify-content: space-between;
    display: flex;
    max-width: 100%;
}

#small {
    max-width: 20%;

    .fc-left h2{
        font-size: 17px;
    }
    .fc-right button {
        font-size: 13px;
    }
}

#big {
    max-width: 80%;
}

main {
    max-width: max-content;
    padding: 1em;
    background-color: $fff;
    border: 2px solid $gray-6;
    border-radius: 8px;
    justify-content: space-between;
}