@import "_variables";
@import "_mixins";

nav{
    border: 2px solid $gray-3;
    display: flex;
    border-radius: 8px;
    background-color: $fff;

    a {
        @include brand;
    }
    ul {
        width: 85%;
        li {
            list-style-type: none;
        }
    }
}