@import "variables";
@import "mixins";

nav{
    border: 2px solid $blue-grey-200;
    display: flex;
    border-radius: 8px;
    background-color: #fff;

    a {
        @include brand;
    }
    ul {
        width: 85%;
        li {
            list-style-type: none;
        }
    }
}