<!-- Modal to accept/reject quests, if not already accepted -->
<div id="questModal" class="modal ui-dialog">
    <h3>Quest Invitation</h3>
    <% if(profile != undefined && profile.party != undefined) { %>
        <% if(profile.party.quest.RSVPNeeded) { %>
            <p class="mb-3">You have <span class="quest-response-text">not responded to</span> the quest.</p>

            <!-- Response buttons -->
            <span id="party-groupID" class="hidden"><%= profile.party._id %></span>
            <button class="btn quest-response" data-response="reject">Reject</button>
            <button class="btn quest-response btn-primary" data-response="accept">Accept</button>
        <% } else { %>
            <p>You have 
                <span class="quest-response-text">
                <%= (!profile.party.quest.key) ? "rejected" : "accepted" %>
                </span> the quest invitation.
            </p>
        <% } %>
    <% } %>
</div>