<%# The Calendar View (Agenda, Week views) %>
<% 
    let styles = ["css/dashboard.css", "css/nav.css"],
        title = "Dashboard";
%>
<%- include templates/header.ejs %>
<main>
    <div id="menu">
        <div id="clickMenu">
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="menu"></div>
        </div>

        <div>
            <img src="https://www.gstatic.com/images/branding/product/1x/calendar_48dp.png"
                style="width:25px;height:25px">
            <span style="font-size: x-large;">Calendar</span>
        </div>

        <button id="today">Today</button>

        <div>
            <button>
                <</button> <button>>
            </button>
        </div>

        <span style="font-size: x-large;">February 2019</span>
    </div>
    <hr>

    <div style="display: flex;">
        <main>
            <div style="display: flex; justify-content: space-between;">
                <time datetime="2019-02">February 2019</time>
                <div>
                    <button>
                        <</button> <button>>
                    </button>
                </div>
            </div>

            <div class="day-of-week">
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>T</div>
                <div>F</div>
                <div>S</div>
                <div>S</div>
            </div>

            <div class="date-grid">
                <button>
                    <time datetime="2019-01-27">27</time>
                </button>
                <button>
                    <time datetime="2019-01-28">28</time>
                </button>
                <button>
                    <time datetime="2019-01-29">29</time>
                </button>
                <button>
                    <time datetime="2019-01-30">30</time>
                </button>
                <button>
                    <time datetime="2019-01-31">31</time>
                </button>
                <button>
                    <time datetime="2019-02-01">1</time>
                </button>
                <button>
                    <time datetime="2019-02-02">2</time>
                </button>
                <button>
                    <time datetime="2019-02-03">3</time>
                </button>
                <button>
                    <time datetime="2019-02-04">4</time>
                </button>
                <button>
                    <time datetime="2019-02-05">5</time>
                </button>
                <button>
                    <time datetime="2019-02-06">6</time>
                </button>
                <button>
                    <time datetime="2019-02-07">7</time>
                </button>
                <button>
                    <time datetime="2019-02-08">8</time>
                </button>
                <button>
                    <time datetime="2019-02-09">9</time>
                </button>
                <button>
                    <time datetime="2019-02-10">10</time>
                </button>
                <button>
                    <time datetime="2019-02-11">11</time>
                </button>
                <button>
                    <time datetime="2019-02-12">12</time>
                </button>
                <button>
                    <time datetime="2019-02-13">13</time>
                </button>
                <button>
                    <time datetime="2019-02-14">14</time>
                </button>
                <button>
                    <time datetime="2019-02-15">15</time>
                </button>
                <button>
                    <time datetime="2019-02-16">16</time>
                </button>
                <button>
                    <time datetime="2019-02-17">17</time>
                </button>
                <button>
                    <time datetime="2019-02-18">18</time>
                </button>
                <button>
                    <time datetime="2019-02-19">19</time>
                </button>
                <button>
                    <time datetime="2019-02-20">20</time>
                </button>
                <button>
                    <time datetime="2019-02-21">21</time>
                </button>
                <button>
                    <time datetime="2019-02-22">22</time>
                </button>
                <button>
                    <time datetime="2019-02-23">23</time>
                </button>
                <button>
                    <time datetime="2019-02-24">24</time>
                </button>
                <button>
                    <time datetime="2019-02-25">25</time>
                </button>
                <button>
                    <time datetime="2019-02-26">26</time>
                </button>
                <button>
                    <time datetime="2019-02-27">27</time>
                </button>
                <button>
                    <time datetime="2019-02-28">28</time>
                </button>
                <button>
                    <time datetime="2019-02-29">29</time>
                </button>
                <button>
                    <time datetime="2019-03-1">1</time>
                </button>
            </div>
            <hr>

            <div>
                The Game System here...
            </div>
        </main>

        <div>
            <div style="display: flex;">
                <section>
                    <div>Mon</div>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-01-27">27</time>
                        </button>
                    </div>
                </section>

                <section>
                    <div>Tue</div>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-01-28">28</time>
                        </button>
                    </div>
                </section>

                <section>
                    <div>Wed</div>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-01-29">29</time>
                        </button>
                    </div>
                </section>

                <section>
                    <div>Thu</div>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-01-30">30</time>
                        </button>
                    </div>
                </section>

                <section>
                    <div>Fri</div>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-01-31">31</time>
                        </button>
                    </div>
                </section>

                <section>
                    <div>Sat</div>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-01">1</time>
                        </button>
                    </div>
                </section>

                <section>
                    <div>Sun</div>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-02">2</time>
                        </button>
                    </div>
                </section>
            </div>

            <div style="display: flex;">
                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-03">3</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-04">4</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-05">5</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-06">6</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-07">7</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-08">8</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-09">9</time>
                        </button>
                    </div>
                </article>
            </div>

            <div style="display: flex;">
                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-10">10</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-11">11</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-12">12</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-13">13</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-14">14</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-15">15</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-16">16</time>
                        </button>
                    </div>
                </article>
            </div>

            <div style="display: flex;">
                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-17">17</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-18">18</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-19">19</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-20">20</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-21">21</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-22">22</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-23">23</time>
                        </button>
                    </div>
                </article>
            </div>

            <div style="display: flex;">
                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-24">24</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-25">25</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-26">26</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-27">27</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-28">28</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-02-29">29</time>
                        </button>
                    </div>
                </article>

                <article>
                    <div class="date-gridContent">
                        <button>
                            <time datetime="2019-03-1">1</time>
                        </button>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>
<%- include templates/footer.ejs %>