<%# The Calendar View (Agenda, Week views) %>
<% 
    let styles = ["css/dashboard.css", "css/nav.css"],
        title = "Dashboard";
%>
<%- include templates/header.ejs %>
<div id="container">
  <main id="small">
    <div id="sidebar">Game system here...</div>
  </main>

  <main id="big">
    <div id='calendar'></div>
  </main>
</div>
<%- include templates/footer.ejs %>