<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gamify your Calendar - Calbitica</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <main>
        <img id="logo" src="/images/brand/logo/white_logo_3x.png" alt="Calbitica Logo">
        <h2 class="cta">Let Calbitica help you gamify your Google Calendar + to-do list.</h2>
        <p class="quote">You'll need your Habitica credentials later, but for now, get started with your Google account.</p c>
        
        <a class="btn btn-primary" href="/auth/google">Continue with Google</a>
    </main>
</body>

</html>