<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gamify your Calendar - Calbitica</title>
</head>
<body>
    <main>
        <a href="/auth/google">LOGIN</a>
        <h1>Calbitica brings the fun of Habitica to your Google Calendar.</h1>
        <p>gamification ftw</p>
    </main>
</body>
</html>