<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - Calbitica</title>
    <link rel="stylesheet" href="/calbitica/css/home.css">
</head>

<body>
    <main>
        <img id="logo" src="/calbitica/images/brand/logo/white_logo_3x.png" alt="Calbitica Logo">
        <h2 class="cta">Nice to see you again! Ready to be producitive?</h2>
        <p class="quote">"If you don't schedule it, you're not going to do it."<br>
            <span class="quote-person">- Brendon Burchard, World's First High Performance Coach</span>
        </p>
        <a class="btn btn-primary" href="google">Continue with Google</a>
    </main>
</body>

</html>