<%# The Settings Page %>
<% 
    let styles = ["css/settings.css"],
        title = "Settings",
        beforeJS = [
            { src: "/js/settings.js" },
            { src: "/js/dashboard/sync.js" }
        ];
%>
<%- include partials/header.ejs %>
<div id="container" class="p-3">
    <main>
        <section id="habitica-settings">
            <h2>Habitica Settings</h2>
            <div class="form-group">
                <input type="text" id="hUserID" name="hUserID" class="form-control"
                value="<%= habiticaID %>">
                <label for="hUserID">User ID</label>
            </div>
            <div class="form-group">
                <input type="password" id="apiKey" name="apiKey" class="form-control">
                <label for="apiKey">API Key</label>
            </div>
            <button class="btn btn-primary" id="saveSettings">Save Habitica Settings</button>
        </section>
        <section id="google-settings" class="hidden">
            <h2>Google Settings</h2>
        </section>
    </main>
</div>
<%- include partials/footer.ejs %>