nav {
  border: 2px solid #bcccdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  background-color: #fff;
}

nav a {
  width: 5%;
  position: relative;
}

nav a img {
  width: 100%;
}

nav ul {
  width: 85%;
}

nav ul li {
  list-style-type: none;
}
