/* Colors: 
 * The higher the number,
 * the lighter the color :)
*/
body {
  color: #BDBDBD;
  font-family: "Open Sans", "Arial", sans-serif;
  background: #333333;
  overflow: hidden; }

* {
  box-sizing: border-box; }

html,
body,
p {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
  letter-spacing: .5px; }

.p-3 {
  padding: 1rem; }

.mb-0 {
  margin-bottom: 0; }

.mb-3 {
  margin-bottom: 1rem; }

.ml-3 {
  margin-left: 1rem; }

.ml-auto {
  margin-left: auto !important; }

.hidden {
  display: none; }

.d-flex {
  display: flex; }

.a-items-center {
  align-items: center; }

.a-self-center {
  align-self: center; }

label,
.icon {
  cursor: pointer; }

*::-webkit-scrollbar {
  width: 10px; }

*::-webkit-scrollbar-track {
  background-color: #4F4F4F; }

*::-webkit-scrollbar-thumb {
  background-color: #BDBDBD; }

/* Colors: 
 * The higher the number,
 * the lighter the color :)
*/
/* Colors: 
 * The higher the number,
 * the lighter the color :)
*/
/* form group */
.form-group {
  position: relative;
  margin: 3rem 0 2rem; }
  .form-group .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #BDBDBD;
    border-radius: 0px;
    color: #ffffff;
    padding: .375rem .5rem;
    background: transparent;
    transition: all .5s ease-out;
    width: 100%; }
    .form-group .form-control:focus, .form-group .form-control:valid {
      border-bottom: 2px solid #00ABDF;
      transition: all .5s ease-out;
      outline: none; }
      .form-group .form-control:focus + label, .form-group .form-control:valid + label {
        top: -1.5rem;
        color: #00ABDF;
        font-size: 12px;
        transition: all .5s ease-out; }
  .form-group label {
    position: absolute;
    left: .5rem;
    top: .25rem;
    margin-bottom: 0;
    font-size: 1rem;
    transition: all .5s ease-out; }
    .form-group label .filled {
      top: -1.5rem;
      color: #00ABDF;
      font-size: 12px;
      transition: all .5s ease-out; }
  .form-group input.typed:invalid + label {
    top: -1.5rem;
    color: #F23035;
    font-size: 12px;
    transition: all .5s ease-out; }
  .form-group input.datepicker {
    width: 100px; }
  .form-group .timepicker {
    width: 80px; }
  .form-group select.form-control {
    background-color: #4F4F4F; }

.custom-checkbox + .checkbox-container .checkedbox {
  display: none;
  fill: #ffffff; }

.custom-checkbox + .checkbox-container .checkbox {
  display: block;
  fill: #BDBDBD; }

.custom-checkbox:checked + .checkbox-container .checkbox {
  display: none; }

.custom-checkbox:checked + .checkbox-container .checkedbox {
  display: block; }

/* Colors: 
 * The higher the number,
 * the lighter the color :)
*/
.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  width: 35vw;
  max-width: 35vw; }
  .toast-container .toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #BDBDBD; }
    .toast-container .toast .toast-delete {
      margin-left: 10px;
      font-weight: bold;
      font-size: 30px;
      line-height: 1;
      cursor: pointer; }
    .toast-container .toast-success {
      background-color: #6FCF97;
      color: #333333;
      border-left: 7px solid #219653; }
    .toast-container .toast-danger {
      background-color: #F05C61;
      color: #ffffff;
      border-left: 7px solid #BB0A0A; }
    .toast-container .toast-warning {
      background-color: #FFBE5D;
      color: #333333;
      border-left: 7px solid #EE9109; }

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem; }
  .navbar .form-group {
    margin: 0 1rem;
    width: 100%; }
    .navbar .form-group .form-control {
      width: 100%; }
  .navbar .brain-dump-label {
    position: relative; }
    .navbar .brain-dump-label .brain-dump-amt {
      position: absolute;
      top: -7px;
      right: -7px; }
  .navbar #brain-dump-toggle-svg {
    fill: #BDBDBD; }
  .navbar #brain-dump-toggle:checked ~ .brain-dump-label #brain-dump-toggle-svg {
    fill: #ffffff; }
  .navbar #user-profile-google-name {
    position: absolute;
    max-width: calc(100% - 50px - 2rem - 2rem);
    left: calc(50px + 2rem);
    top: calc(25px + .25rem);
    margin-bottom: 0; }
  .navbar .user-profile {
    flex-shrink: 0;
    overflow: hidden;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #e2e2e2;
    background-size: cover;
    background-position: center; }
  .navbar .sidebar-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: none; }
    .navbar .sidebar-nav .custom-checkbox + .checkbox-container .calendar-item-name {
      color: #BDBDBD; }
    .navbar .sidebar-nav .custom-checkbox:checked + .checkbox-container:not(:hover) .calendar-item-name {
      color: #ffffff; }
    .navbar .sidebar-nav .calendar-item {
      display: flex;
      align-items: center;
      padding: 1rem; }
      .navbar .sidebar-nav .calendar-item .checkedbox,
      .navbar .sidebar-nav .calendar-item .checkbox {
        flex: 0 0 24px;
        margin-right: 10px; }
      .navbar .sidebar-nav .calendar-item:hover .checkedbox,
      .navbar .sidebar-nav .calendar-item:hover .checkbox {
        fill: #333333; }
      .navbar .sidebar-nav .calendar-item:hover .calendar-item-name {
        color: #333333; }
  .navbar ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    position: relative;
    background-color: #333333; }
    .navbar ul.submenu {
      margin-bottom: 1rem;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: calc(40vh - 60px); }
    .navbar ul:not(.submenu) {
      padding: calc(50px + 2rem) 0 0;
      width: 20%;
      height: 100%;
      min-width: 200px; }
    .navbar ul li .submenu-header {
      padding: 0 1rem;
      margin-top: 2rem; }
    .navbar ul li:not(.submenu):hover {
      background-color: #44D3FF; }
      .navbar ul li:not(.submenu):hover a {
        color: #333333; }
    .navbar ul li a {
      padding: 1rem;
      display: block;
      color: #BDBDBD;
      text-decoration: none; }
  .navbar .logout {
    margin-top: auto; }
  .navbar .user-profile-close {
    position: absolute;
    right: 1rem;
    top: 25px;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    cursor: pointer; }

#user-profile-toggle:checked ~ .user-profile {
  z-index: 101; }

#user-profile-toggle:checked ~ .sidebar-nav {
  display: block; }

/* Colors: 
 * The higher the number,
 * the lighter the color :)
*/
/* Colors: 
 * The higher the number,
 * the lighter the color :)
*/
/* form group */
.form-group {
  position: relative;
  margin: 3rem 0 2rem; }
  .form-group .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #BDBDBD;
    border-radius: 0px;
    color: #ffffff;
    padding: .375rem .5rem;
    background: transparent;
    transition: all .5s ease-out;
    width: 100%; }
    .form-group .form-control:focus, .form-group .form-control:valid {
      border-bottom: 2px solid #00ABDF;
      transition: all .5s ease-out;
      outline: none; }
      .form-group .form-control:focus + label, .form-group .form-control:valid + label {
        top: -1.5rem;
        color: #00ABDF;
        font-size: 12px;
        transition: all .5s ease-out; }
  .form-group label {
    position: absolute;
    left: .5rem;
    top: .25rem;
    margin-bottom: 0;
    font-size: 1rem;
    transition: all .5s ease-out; }
    .form-group label .filled {
      top: -1.5rem;
      color: #00ABDF;
      font-size: 12px;
      transition: all .5s ease-out; }
  .form-group input.typed:invalid + label {
    top: -1.5rem;
    color: #F23035;
    font-size: 12px;
    transition: all .5s ease-out; }
  .form-group input.datepicker {
    width: 100px; }
  .form-group .timepicker {
    width: 80px; }
  .form-group select.form-control {
    background-color: #4F4F4F; }

/* Colors: 
 * The higher the number,
 * the lighter the color :)
*/
button,
.btn {
  background-color: transparent;
  color: #BDBDBD;
  padding: .375rem 1rem;
  border: none;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", Helvetica, sans-serif; }

a.btn {
  display: inline-block;
  text-decoration: none; }

.btn-success {
  border: 2px solid #6FCF97;
  background-color: #6FCF97;
  color: #ffffff; }

.btn-danger {
  border: 2px solid #F05C61;
  background-color: #F05C61;
  color: #ffffff; }

.btn-primary {
  border: 2px solid #44D3FF;
  background-color: #44D3FF;
  color: #333333; }

.btn-warning {
  border: 2px solid #FFBE5D;
  background-color: #FFBE5D;
  color: #828282; }

.btn-outline-success {
  background-color: transparent;
  border: 2px solid #6FCF97;
  color: #6FCF97; }

.btn-outline-danger {
  background-color: transparent;
  border: 2px solid #F05C61;
  color: #F05C61; }

.btn-outline-primary {
  background-color: transparent;
  border: 2px solid #44D3FF;
  color: #44D3FF; }

.btn-outline-secondary {
  background-color: transparent;
  border: 2px solid #E0E0E0;
  color: #E0E0E0; }

.btn-outline-warning {
  background-color: transparent;
  border: 2px solid #FFBE5D;
  color: #FFBE5D; }

.btn {
  cursor: pointer;
  transition: background-color .1s ease-in, color .1s ease-in; }

.btn-success:hover,
.btn-success:active {
  background-color: transparent;
  border: 2px solid #6FCF97;
  color: #6FCF97; }

.btn-danger:hover,
.btn-danger:active {
  background-color: transparent;
  border: 2px solid #F05C61;
  color: #F05C61; }

.btn-primary:hover,
.btn-primary:active {
  background-color: transparent;
  border: 2px solid #44D3FF;
  color: #44D3FF; }

.btn-warning:hover,
.btn-warning:active {
  background-color: transparent;
  border: 2px solid #FFBE5D;
  color: #FFBE5D; }

.btn-outline-success:hover,
.btn-outline-success:active {
  border: 2px solid #6FCF97;
  background-color: #6FCF97;
  color: #ffffff; }

.btn-outline-danger:hover,
.btn-outline-danger:active {
  border: 2px solid #F05C61;
  background-color: #F05C61;
  color: #ffffff; }

.btn-outline-primary:hover,
.btn-outline-primary:active {
  border: 2px solid #44D3FF;
  background-color: #44D3FF;
  color: #333333; }

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  border: 2px solid transparent;
  background-color: transparent;
  color: #333333; }

.btn-outline-warning:hover,
.btn-outline-warning:active {
  border: 2px solid #FFBE5D;
  background-color: #FFBE5D;
  color: #828282; }
