/* Colors: 
 * The higher the number,
 * the lighter the color :)
*/
button,
.btn {
  background-color: transparent;
  color: #BDBDBD;
  padding: .375rem 1rem;
  border: none;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", Helvetica, sans-serif; }

a.btn {
  display: inline-block;
  text-decoration: none; }

.btn-success {
  border: 2px solid #6FCF97;
  background-color: #6FCF97;
  color: #ffffff; }

.btn-danger {
  border: 2px solid #F05C61;
  background-color: #F05C61;
  color: #ffffff; }

.btn-primary {
  border: 2px solid #44D3FF;
  background-color: #44D3FF;
  color: #333333; }

.btn-warning {
  border: 2px solid #FFBE5D;
  background-color: #FFBE5D;
  color: #828282; }

.btn-outline-success {
  background-color: transparent;
  border: 2px solid #6FCF97;
  color: #6FCF97; }

.btn-outline-danger {
  background-color: transparent;
  border: 2px solid #F05C61;
  color: #F05C61; }

.btn-outline-primary {
  background-color: transparent;
  border: 2px solid #44D3FF;
  color: #44D3FF; }

.btn-outline-secondary {
  background-color: transparent;
  border: 2px solid #E0E0E0;
  color: #E0E0E0; }

.btn-outline-warning {
  background-color: transparent;
  border: 2px solid #FFBE5D;
  color: #FFBE5D; }

.btn {
  cursor: pointer;
  transition: background-color .1s ease-in, color .1s ease-in; }

.btn-success:hover,
.btn-success:active {
  background-color: transparent;
  border: 2px solid #6FCF97;
  color: #6FCF97; }

.btn-danger:hover,
.btn-danger:active {
  background-color: transparent;
  border: 2px solid #F05C61;
  color: #F05C61; }

.btn-primary:hover,
.btn-primary:active {
  background-color: transparent;
  border: 2px solid #44D3FF;
  color: #44D3FF; }

.btn-warning:hover,
.btn-warning:active {
  background-color: transparent;
  border: 2px solid #FFBE5D;
  color: #FFBE5D; }

.btn-outline-success:hover,
.btn-outline-success:active {
  border: 2px solid #6FCF97;
  background-color: #6FCF97;
  color: #ffffff; }

.btn-outline-danger:hover,
.btn-outline-danger:active {
  border: 2px solid #F05C61;
  background-color: #F05C61;
  color: #ffffff; }

.btn-outline-primary:hover,
.btn-outline-primary:active {
  border: 2px solid #44D3FF;
  background-color: #44D3FF;
  color: #333333; }

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  border: 2px solid transparent;
  background-color: transparent;
  color: #333333; }

.btn-outline-warning:hover,
.btn-outline-warning:active {
  border: 2px solid #FFBE5D;
  background-color: #FFBE5D;
  color: #828282; }
