/* Colors: 
 * The higher the number,
 * the lighter the color :)
*/
/* form group */
.form-group {
  position: relative;
  margin: 3rem 0 2rem; }
  .form-group .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #BDBDBD;
    border-radius: 0px;
    color: #ffffff;
    padding: .375rem .5rem;
    background: transparent;
    transition: all .5s ease-out;
    width: 100%; }
    .form-group .form-control:focus, .form-group .form-control:valid {
      border-bottom: 2px solid #00ABDF;
      transition: all .5s ease-out;
      outline: none; }
      .form-group .form-control:focus + label, .form-group .form-control:valid + label {
        top: -1.5rem;
        color: #00ABDF;
        font-size: 12px;
        transition: all .5s ease-out; }
  .form-group label {
    position: absolute;
    left: .5rem;
    top: .25rem;
    margin-bottom: 0;
    font-size: 1rem;
    transition: all .5s ease-out; }
    .form-group label .filled {
      top: -1.5rem;
      color: #00ABDF;
      font-size: 12px;
      transition: all .5s ease-out; }
  .form-group input.typed:invalid + label {
    top: -1.5rem;
    color: #F23035;
    font-size: 12px;
    transition: all .5s ease-out; }
  .form-group input.datepicker {
    width: 100px; }
  .form-group .timepicker {
    width: 80px; }
  .form-group select.form-control {
    background-color: #4F4F4F; }
