/* Colors: 
 * The higher the number,
 * the lighter the color :)
*/
.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  width: 35vw;
  max-width: 35vw; }
  .toast-container .toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #BDBDBD; }
    .toast-container .toast .toast-delete {
      margin-left: 10px;
      font-weight: bold;
      font-size: 30px;
      line-height: 1;
      cursor: pointer; }
    .toast-container .toast-success {
      background-color: #6FCF97;
      color: #333333;
      border-left: 7px solid #219653; }
    .toast-container .toast-danger {
      background-color: #F05C61;
      color: #ffffff;
      border-left: 7px solid #BB0A0A; }
    .toast-container .toast-warning {
      background-color: #FFBE5D;
      color: #333333;
      border-left: 7px solid #EE9109; }
