<header>
    <nav>
        <a class="nav-brand" href="/">Calbitica</a>

        <!-- If not signed in  -->
        <a class="plain g_btn" href="/auth/login">Continue with Google</a>

        <!-- If signed in -->
        <ul>
            <li>Calendar</li>

            <!-- The Habitica 3-col view -->
            <li>Habitica</li>

            <!-- Habitica Stats -->
            <li>20 Gems, 1000 Gold</li>

            <!-- Profile -->
            <li>Sign Out of Google</li>
        </ul>
    </nav>
</header>