// Mixins for colors
@mixin success {
    border: $border-width solid $green-3;
    background-color: $green-3;
    color           : $fff;
}

@mixin danger {
    border: $border-width solid $red-3;
    background-color: $red-3;
    color           : $fff;
}

@mixin primary {
    border: $border-width solid $blue-3;
    background-color: $blue-3;
    color           : $gray-1;
}
@mixin secondary {
    border: $border-width solid transparent;
    background-color: transparent;
    color           : $gray-1;
}

@mixin warning {
    border: $border-width solid $yellow-3;
    background-color: $yellow-3;
    color           : $gray-3;
}

// outlines
@mixin outline-success {
    background-color: transparent;
    border          : $border-width solid $green-3;
    color           : $green-3;
}

@mixin outline-danger {
    background-color: transparent;
    border          : $border-width solid $red-3;
    color           : $red-3;
}

@mixin outline-primary {
    background-color: transparent;
    border          : $border-width solid $blue-3;
    color           : $blue-3;
}

@mixin outline-secondary {
    background-color: transparent;
    border          : $border-width solid $gray-5;
    color           : $gray-5;
}

@mixin outline-warning {
    background-color: transparent;
    border          : $border-width solid $yellow-3;
    color           : $yellow-3;
}