@import '../partials/variables';
@import '../partials/mixins';

.badge-circle {
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    width          : 20px;
    height         : 20px;
    font-size      : 10px;
    font-weight    : bold;
    line-height    : 1;
    border-radius  : 50%;
}

// generate bs-like classes
@include bs-classes('.badge', false);