// buttons
@import "../partials/variables";
@import '../partials/mixins';

button,
.btn {
    background-color: transparent;
    color           : $gray-4;
    padding         : .375rem 1rem;
    border          : none;
    text-transform  : uppercase;
    font-family     : "Open Sans Condensed", Helvetica, sans-serif;
}

a.btn {
    display        : inline-block;
    text-decoration: none;

}

@include bs-classes('.btn', 'true');