// Checkbox
.custom-checkbox {
    // Not checked state
    +.checkbox-container {
        .checkedbox {
            display: none;
            fill   : $fff;
        }

        .checkbox {
            display: block;
            fill   : $gray-4;
        }
    }

    // Checked state
    &:checked+.checkbox-container {
        .checkbox {
            display: none;
        }

        .checkedbox {
            display: block;
        }
    }

}

// input checkbox