// Styles for jqueryui dialog
@import '../partials/variables';
@import "../partials/mixins";

.modal {
    padding: 0;

    .modal-body {
        padding: 2rem 0 0;

        .form-group {
            margin-top: 0;
        }
    }
}

// jQuery styles
.ui-dialog {
    z-index         : 4;
    background-color: $gray-2;
    padding         : 1rem;
    @include box-shadow;
}

.ui-dialog-titlebar,
.ui-dialog-buttonset {
    display        : flex;
    justify-content: flex-end;
}

.btn.ui-dialog-titlebar-close {
    @include closeBtn;
    padding: 0;
}