@import "../partials/variables";
@import "../partials/mixins";

.toast-container {
    position : fixed;
    top      : 1rem;
    right    : 1rem;
    z-index  : 100;
    width    : 30vw;
    max-width: 30vw;

    .toast {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        padding         : 1rem;
        background-color: $gray-4;

        .toast-delete {
            margin-left: 10px;
            @include closeBtn;
        }

        // Different states
        &-success {
            background-color: $green-3;
            color           : $gray-1;
            border-left     : 7px solid $green-1;
        }

        &-danger {
            background-color: $red-3;
            color           : $fff;
            border-left     : 7px solid $red-1;
        }

        &-warning {
            background-color: $yellow-3;
            color           : $gray-1;
            border-left     : 7px solid $yellow-1;
        }
    }

}